/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: hsl(228, 12%, 48%);
}

.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    background-color: hsl(30, 38%, 92%);
    align-items: center;
    justify-content: center;
}

.perfume-container {
    display: flex;
    flex-direction: row;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    overflow: hidden;
    width: 700px;
}

/* Image Section */

.image-section {
    width: 100%;
}

.image-section .desktop-img img {
    display: block;
    width: 370px;
}

.image-section .mobile-img img {
    display: none;
}

/* Info Section */
.info-section {
    padding: 2.5rem;
}

.title {
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

.perfume-name {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: hsl(212, 21%, 14%);
    margin-bottom: 2rem;
}

.description {
    line-height: 1.5;
    margin-bottom: 2rem;
}

.price {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.price .new-price {
    font-family: 'Fraunces',sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
}

.price .old-price {
    margin-left: 1.5rem;
}

.button button {
    display: flex;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    align-items: center;
    justify-content: center;
}

.button button img {
    margin-right: 1rem;
}

.button button:hover {
    background-color: hsl(158, 36%, 16%);
}


/* Footer Section */
.footer {
    position: absolute;
    bottom: 10px;
}

/* Media Query */

@media (max-width: 1020px) {
    .perfume-container {
        width: 500px;
        height: 400px;
    }
    
    .image-section .desktop-img img {
        width: 250px;
        height: 400px;
    }

    .info-section {
        padding: 1rem;
    }

    .title {
        margin-bottom: 0.5rem;
    }

    .perfume-name {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .description {
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    .price {
        margin-bottom: 1rem;
    }

    .price .new-price {
        font-size: 1.5rem;
    }

    .price .old-price {
        margin-left: 1.5rem;
    }

    .button button {
    height: 50px;
    }
}

@media (max-width: 769px) {
    .perfume-container {
        flex-direction: column;
        width: 420px;
        height: inherit;
    }

    .image-section {
        width: 100%;
    }

    .image-section .desktop-img img {
        display: none;
    }

    .image-section .mobile-img img {
        display: block;
        width: 100%;
    }

    .info-section {
        padding: 2rem;
    }

    .title {
        margin-bottom: 1rem;
    }

    .perfume-name {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .description {
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    .price {
        margin-bottom: 1rem;
    }

    .price .new-price {
        font-size: 2rem;
    }

    .price .old-price {
        margin-left: 1.5rem;
    }

    .button button {
        width: 100%;
        height: 50px;
    }
}

@media (max-width: 576px) {
    .perfume-container {
        width: 350px;
    }

    .info-section {
        padding: 2rem;
    }

    .title {
        font-size: 12px;
        margin-bottom: 0.5rem;
    }

    .perfume-name {
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    .description {
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }

    .footer {
        font-size: 10px;
    }
}

@media (max-width: 376px) {

    .perfume-container {
        width: 320px;
    }

    .info-section {
        padding: 2rem;
    }

    .title {
        font-size: 12px;
        margin-bottom: 0.5rem;
    }

    .perfume-name {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }

    .description {
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }

    .price {
        margin-bottom: 1rem;
    }

    .price .new-price {
        font-size: 1.6rem;
    }

    .price .old-price {
        margin-left: 1.5rem;
    }

    .button button {
        width: 100%;
        height: 50px;
    }

    .footer {
        font-size: 9px;
    }
}
