/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   


body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.125rem;
    color: hsl(201, 11%, 66%);
}

/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
} */

/* Introduction Section */

#introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro-container {
    transform: translateY(-10%);
}

.clipboard-logo {
    text-align: center;
    width: 100%;
}

.clipboard-logo img {
    max-width: 300px;
    margin-bottom: 3rem;
}

.section-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
}

.section-heading h1 {
    color: hsl(210, 10%, 33%);
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
    width: 80%;
}

.section-heading p {
    color: hsl(201, 11%, 66%);
    font-weight: 400;
    margin-bottom: 3rem;
    width: 80%;
    line-height: 1.8;
}

.clipboard-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.clipboard-btn button {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
}

.ios-btn {
    background-color: hsl(171, 66%, 44%);
    color: hsl(0, 0%, 100%);
    margin-right: 1rem;
}

.ios-btn:hover {
    box-shadow: 0 0.5rem 1rem hsl(171, 66%, 44%);
}

.mac-btn {
    background-color: hsl(233, 100%, 69%);
    color: hsl(0, 0%, 100%);
}

.mac-btn:hover {
    box-shadow: 0 0.5rem 1rem hsl(233, 100%, 69%);
}


/* Features Section */

#features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: hsl(0, 0%, 100%);
}

.section-heading h2 {
    color: hsl(210, 10%, 33%);
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    width: 80%;
}

.features-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 12.5rem;
}

.computer-img {
    transform: translateX(-5%);
}

.features-description {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5rem;
    /* transform: translateY(-100%); */
}

.features-description h3 {
    color: hsl(210, 10%, 33%);
    font-size: 1.5rem;
    font-weight: 600;
    width: 80%;
}

.features-description p {
    margin-top: 0.6rem;
    margin-bottom: 2.5rem;
    line-height: 1.8;
    width: 80%;
}

.responsiveness {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.mobile-img {
    margin-top: 3rem;
}

/* Tools Section */

#tools {
    width: 100%;
    height: 80vh;
}

.tools-content {
    display: flex;
    flex-direction: row;;
    margin-left: auto;
    margin-right: auto;  
    width: 80%;
}

.tools-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.tools-description img {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.tools-description h3 {
    color: hsl(210, 10%, 33%);
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
}

.tools-description p {
    line-height: 1.8;
    width:  90%;
    text-align: center;
}

/* Press Section */

.press-logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 12.5rem;
}

.press-logos img {
    margin: 0 3rem;
}

/* Footer Section */
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 12.5rem;
}











