/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:560px;
    width: 340px;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
    padding: 1.5rem 1.6rem 2rem;
    border-radius: 15px;
    overflow: hidden;
}

/* Image Section */
.container .img-container {
    position: relative;
    height: 300px;
}

.container .img-container .card-img img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.container .img-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(178, 100%, 50%);
    opacity: 0;
    border-radius: 10px;
}

.container .img-container .overlay .icon-img img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.container .img-container .overlay:hover {
    opacity: 0.5;
}


/* Card Main Content Section */

.container .card-info .info h3 {
    color: hsl(0, 0%, 100%);
    margin-top: 1rem;
    font-weight: 600;
}

.container .card-info .info h3:hover {
    color: hsl(178, 100%, 50%);
}

.container .card-info .info p {
    color: hsl(215, 51%, 70%);
    margin-top: 1rem;
    font-weight: 300;
}

.container .icons {
    color: hsl(215, 51%, 70%);
    margin-top: 1rem;
    font-size: 15px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .icons .eth {
    background-image: url(images/icon-ethereum.svg);
    background-repeat: no-repeat;
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    padding-left: 1.25rem;
}

.container .icons .clock {
    background-image: url(images/icon-clock.svg);
    background-repeat: no-repeat;
    padding-left: 1.5rem;
}

.container .card-footer {
    font-size: 15px;
    font-weight: 200;
    border-top: 1px solid hsl(215, 32%, 27%);
    margin-top: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container .card-footer img {
    width: 10%;
    margin-top: 1.25rem;
    border-radius: 60%;
    border: 1px solid hsl(0, 0%, 100%);
}

.container .card-footer p {
    letter-spacing: 0.5px;
    padding-left: 1.25rem;
    margin-top: 1.25rem;
    color: hsl(215, 51%, 70%);
}

.container .card-footer span {
    color: hsl(0, 0%, 100%);
}

.container .card-footer span:hover {
    color: hsl(178, 100%, 50%);
}

/* Footer Section */
.attribution {
    position: absolute;
    bottom: 0.6rem;
    color: hsl(227, 10%, 46%);
    font-size: 10px;

}