/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    min-height: 100vh;
    background-image: url(images/bg-pattern-bottom.svg), 
    url(images/bg-pattern-top.svg);
    background-position: bottom -75vh right -20vw, top -65vh left -20vw;
    background-repeat: no-repeat;
    background-color: hsl(185, 75%, 39%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.container {
    background-color: hsl(0, 0%, 100%);
    height: 430px;
    width: 400px;
    border-radius: 15px;
    overflow: hidden;
}

/* Image Section */
.card-img img {
    width: 100%;
}

.person-img img {
    border-radius: 50%;
    border: 5px solid hsl(0, 0%, 100%);
    transform: translateY(-50%);
}

/* Person Info Section */
.person-info {
    position: relative;
    bottom: 35px;
}

.person-info p {
    font-size: 18px;
    color: hsl(227, 10%, 46%);
}

.person-info .name {
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.person-info span {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    margin-left: 10px;
} 

.person-info .place {
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
    color: hsl(227, 10%, 46%);
}

/* Card-footer Section */
.card-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 1px solid hsl(0, 0%, 59%);

}

.card-footer .info .stats {
    font-size: 18px;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
    margin-top: 30px;
   
}

.card-footer .info p {
    font-size: 12px;
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    letter-spacing: 2px;
    margin-top: 5px;
}


/* Footer Section */
.attribution {
    position: absolute;
    bottom: 10px;
    color: hsl(227, 10%, 46%);
    font-size: 15px;
}


/* Media Query */

@media (max-width: 376px) {

    body {
        background-position: bottom -68vh right -200vw, top -72vh left -200vw;
    }

    .container {
        height: 400px;
        width: 330px;
    }

    .attribution {
        font-size: 12px;
    }
}
